.popup__edit-container{
    margin: 54px 36px 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .popup__edit-container {
        margin: 75px 22px 0;
    }
}